In [60]:
# 필요 패키지 로드
# RPA
import time
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
# Crawling
import pandas as pd
import requests
from tqdm.notebook import tqdm
from bs4 import BeautifulSoup
from tqdm.notebook import tqdm # 반복문 실행시 실행도 확인용 라이브러리

In [61]:
# 한국무역협회 사이트 접속
URL = "https://www.kita.net/cmmrcInfo/ehgtGnrlzInfo/rltmEhgt.do"
driver = webdriver.Chrome('C:\\Workspace\\python\\Toy_Project_2022\\MBTI\\chrome\\chromedriver.exe')
driver.get(URL)
time.sleep(2) # 로딩시간에 맞게 적정히 수정

<ipython-input-61-284dca088280>:3: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('C:\\Workspace\\python\\Toy_Project_2022\\MBTI\\chrome\\chromedriver.exe')

In [62]:
# 통화별 환율관련 수치 가공 후 리스트로 저장
import re

data_01 = driver.find_element(By.XPATH, f'//*[@id="contents"]/div[3]/div[2]').text
# data_01
data_02 = re.sub('[^0-9a-zA-Z.\n ]', '', data_01) 
data_03 = data_02.replace(',', '')
data_04 = data_03.replace(',', '')
data_05 = data_04.split("\n")[1:]
data_05

['USD  1285.00  6.50 0.50 1307.48 1262.52 1297.40 1272.60',
 'JPY  950.80  4.03 0.42 967.43 934.17 960.02 941.58',
 'EUR  1359.40  2.49 0.18 1386.31 1332.49 1372.99 1345.81',
 'CNY  192.18  1.20 0.62 203.71 182.58 194.10 190.26',
 'HKD  163.76  0.78 0.47 167.01 160.51 165.39 162.13',
 'GBP  1578.37  8.63 0.54 1609.77 1546.97 1594.15 1562.59',
 'CHF  1341.20  10.73 0.79 1367.88 1314.52 1354.61 1327.79',
 'CAD  996.74  2.64 0.26 1016.57 976.91 1006.70 986.78',
 'AUD  890.76  4.77 0.53 908.48 873.04 899.66 881.86',
 'NZD  811.35  3.72 0.46 827.49 795.21 819.46 803.24',
 'SEK  127.73  0.50 0.39 130.92 124.54 129.00 126.46',
 'DKK  182.75  0.50 0.39 187.31 178.19 184.57 180.93',
 'NOK  130.99  1.31 1.01 134.26 127.72 132.29 129.69',
 'SAR  342.40  1.77 0.51 359.52 318.44 345.82 338.98',
 'KWD  4192.50  22.58 0.54 4444.05 3857.10 4234.42 4150.58',
 'BHD  3408.49  17.24 0.50 3612.99 3135.82 3442.57 3374.41',
 'AED   349.86  1.75 0.50 367.35 325.37 353.35 346.37',
 'THB  36.36  0.01 0.03 38.52 33.82 36.72 36.00',
 'SGD  927.66  3.69 0.40 946.21 909.11 936.93 918.39',
 'IDR  8.68  0.02 0.23 9.37 7.73 8.76 8.60',
 'INR  16.41  0.08 0.49 17.88 14.94 16.57 16.25',
 'MYR  291.65  1.44 0.49 309.14 268.32 294.56 288.74',
 'PKR  6.18  0.06 0.96 6.67 5.69 6.18 6.18',
 'BDT  13.82  0.09 0.65 14.92 12.72 13.82 13.82',
 'PHP  23.46  0.08 0.34 25.80 21.82 23.69 23.23',
 'EGP  68.42  0.37 0.54 73.89 63.64 68.42 68.42',
 'MXN  64.77  0.17 0.26 69.95 59.59 64.77 64.77',
 'BND  927.93  2.14 0.23 965.04 872.26 927.93 927.93']

In [63]:
data_05[0].split()

['USD', '1285.00', '6.50', '0.50', '1307.48', '1262.52', '1297.40', '1272.60']

In [64]:
# 날짜 데이터 추출 후 리스트에 날짜 추가
date = driver.find_element(By.XPATH, f'//*[@id="contents"]/div[3]/div[1]/div[1]').text
date_01 = date.split('\n')
date_02 = date_01[0].replace('년', '-')
date_03 = date_02.replace('월', '-')
date_04 = date_03.replace('일', '')
[date_04] + data_05[0].split()

['2022-06-27',
 'USD',
 '1285.00',
 '6.50',
 '0.50',
 '1307.48',
 '1262.52',
 '1297.40',
 '1272.60']

In [65]:
# 데이터 프레임에 넣기
df_01 = pd.DataFrame({'Date' : [], 'Currency' : [], 
              'Exchange_rate' : [], 'Day_to_day' :[],
              'Rise_and_fall' : [],
              'Buy' : [], 'Sell' : [],
              'To_Transfer' : [], 'Receive' : []})
for i in range(len(data_05)):
    df_01.loc[len(df_01)] = [date_04] + data_05[i].split()

df_01

,Date,Currency,Exchange_rate,Day_to_day,Rise_and_fall,Buy,Sell,To_Transfer,Receive
0,2022-06-27,USD,1285.00,6.50,0.50,1307.48,1262.52,1297.40,1272.60
1,2022-06-27,JPY,950.80,4.03,0.42,967.43,934.17,960.02,941.58
2,2022-06-27,EUR,1359.40,2.49,0.18,1386.31,1332.49,1372.99,1345.81
3,2022-06-27,CNY,192.18,1.20,0.62,203.71,182.58,194.10,190.26
4,2022-06-27,HKD,163.76,0.78,0.47,167.01,160.51,165.39,162.13
5,2022-06-27,GBP,1578.37,8.63,0.54,1609.77,1546.97,1594.15,1562.59
6,2022-06-27,CHF,1341.20,10.73,0.79,1367.88,1314.52,1354.61,1327.79
7,2022-06-27,CAD,996.74,2.64,0.26,1016.57,976.91,1006.70,986.78
8,2022-06-27,AUD,890.76,4.77,0.53,908.48,873.04,899.66,881.86
9,2022-06-27,NZD,811.35,3.72,0.46,827.49,795.21,819.46,803.24
10,2022-06-27,SEK,127.73,0.50,0.39,130.92,124.54,129.00,126.46
11,2022-06-27,DKK,182.75,0.50,0.39,187.31,178.19,184.57,180.93
12,2022-06-27,NOK,130.99,1.31,1.01,134.26,127.72,132.29,129.69
13,2022-06-27,SAR,342.40,1.77,0.51,359.52,318.44,345.82,338.98
14,2022-06-27,KWD,4192.50,22.58,0.54,4444.05,3857.10,4234.42,4150.58
15,2022-06-27,BHD,3408.49,17.24,0.50,3612.99,3135.82,3442.57,3374.41
16,2022-06-27,AED,349.86,1.75,0.50,367.35,325.37,353.35,346.37
17,2022-06-27,THB,36.36,0.01,0.03,38.52,33.82,36.72,36.00
18,2022-06-27,SGD,927.66,3.69,0.40,946.21,909.11,936.93,918.39
19,2022-06-27,IDR,8.68,0.02,0.23,9.37,7.73,8.76,8.60
20,2022-06-27,INR,16.41,0.08,0.49,17.88,14.94,16.57,16.25
21,2022-06-27,MYR,291.65,1.44,0.49,309.14,268.32,294.56,288.74
22,2022-06-27,PKR,6.18,0.06,0.96,6.67,5.69,6.18,6.18
23,2022-06-27,BDT,13.82,0.09,0.65,14.92,12.72,13.82,13.82
24,2022-06-27,PHP,23.46,0.08,0.34,25.80,21.82,23.69,23.23
25,2022-06-27,EGP,68.42,0.37,0.54,73.89,63.64,68.42,68.42
26,2022-06-27,MXN,64.77,0.17,0.26,69.95,59.59,64.77,64.77
27,2022-06-27,BND,927.93,2.14,0.23,965.04,872.26,927.93,927.93

In [66]:
# https://docs.microsoft.com/ko-kr/azure/azure-sql/database/connect-query-python?view=azuresql
# 해당 정보들은 반드시 메모장이나 다른 매체로 기록해서 입력할 것
# sql 접속 
# import pyodbc
# server = '<server>.database.windows.net'
# database = '<database>'
# username = '<username>'
# password = '{<password>}'   
# driver= '{ODBC Driver 17 for SQL Server}'

# with pyodbc.connect('DRIVER='+driver+';SERVER=tcp:'+server+';PORT=1433;DATABASE='+database+';UID='+username+';PWD='+ password) as conn:
#     with conn.cursor() as cursor:
#         cursor.execute("SELECT TOP 3 name, collation_name FROM sys.databases")
#         row = cursor.fetchone()
#         while row:
#             print (str(row[0]) + " " + str(row[1]))
#             row = cursor.fetchone()


# sql 접속 정보
info = pd.read_csv("C:\Workspace\python\Toy_Project_2022\ADF_ETL\info\sqlinfo.txt", sep=":")

import pyodbc
server = info.loc[0][0] + '.database.windows.net' # sql 서버 이름
database = info.loc[0][3] # sql db이름
username = info.loc[0][1] # sql 서버 관리자 ID
password = info.loc[0][2] # sql 서버 관리자 PW
driver= '{ODBC Driver 17 for SQL Server}'
# 'DRIVER='+driver+';SERVER=tcp:'+server+';PORT=1433;DATABASE='+database+';UID='+username+';PWD='+ password
with pyodbc.connect('DRIVER='+driver+';SERVER=tcp:'+server+';PORT=1433;DATABASE='+database+';UID='+username+';PWD='+ password) as conn:
    with conn.cursor() as cursor:
        cursor.execute("SELECT TOP 3 name, collation_name FROM sys.databases")
        row = cursor.fetchone()
        while row:
            print (str(row[0]) + " " + str(row[1]))
            row = cursor.fetchone()

master SQL_Latin1_General_CP1_CI_AS
sql_db_tt_jb1519 SQL_Latin1_General_CP1_CI_AS

In [67]:
# 데이터 적재
import pyodbc
import pandas as pd
# insert data from csv file into dataframe.
# working directory for csv file: type "pwd" in Azure Data Studio or Linux
# working directory in Windows c:\users\username

# df = pd.read_csv("c:\\user\\username\department.csv")

# Some other example server values are
# server = 'localhost\sqlexpress' # for a named instance
# server = 'myserver,port' # to specify an alternate port
server = info.loc[0][0] + '.database.windows.net' # sql 서버 이름
database = info.loc[0][3] # sql db이름
username = info.loc[0][1] # sql 서버 관리자 ID
password = info.loc[0][2] # sql 서버 관리자 PW
cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()
# Insert Dataframe into SQL Server:
for index, row in df_01.iterrows():
     cursor.execute("INSERT INTO dbo.Exchange_rate_test (Date,Currency,Exchange_rate,Day_to_day,Rise_and_fall,Buy,Sell,To_Transfer,Receive) values(?,?,?,?,?,?,?,?,?)", 
                     row.Date, row.Currency, row.Exchange_rate, row.Day_to_day, row.Rise_and_fall, row.Buy, row.Sell, row.To_Transfer, row.Receive)
cnxn.commit()
cursor.close()

In [68]:
for index, row in df_01.iterrows():
    print(index, row, sep='\n')

0
Date             2022-06-27
Currency                USD
Exchange_rate       1285.00
Day_to_day             6.50
Rise_and_fall          0.50
Buy                 1307.48
Sell                1262.52
To_Transfer         1297.40
Receive             1272.60
Name: 0, dtype: object
1
Date             2022-06-27
Currency                JPY
Exchange_rate        950.80
Day_to_day             4.03
Rise_and_fall          0.42
Buy                  967.43
Sell                 934.17
To_Transfer          960.02
Receive              941.58
Name: 1, dtype: object
2
Date             2022-06-27
Currency                EUR
Exchange_rate       1359.40
Day_to_day             2.49
Rise_and_fall          0.18
Buy                 1386.31
Sell                1332.49
To_Transfer         1372.99
Receive             1345.81
Name: 2, dtype: object
3
Date             2022-06-27
Currency                CNY
Exchange_rate        192.18
Day_to_day             1.20
Rise_and_fall          0.62
Buy                  203.71
Sell                 182.58
To_Transfer          194.10
Receive              190.26
Name: 3, dtype: object
4
Date             2022-06-27
Currency                HKD
Exchange_rate        163.76
Day_to_day             0.78
Rise_and_fall          0.47
Buy                  167.01
Sell                 160.51
To_Transfer          165.39
Receive              162.13
Name: 4, dtype: object
5
Date             2022-06-27
Currency                GBP
Exchange_rate       1578.37
Day_to_day             8.63
Rise_and_fall          0.54
Buy                 1609.77
Sell                1546.97
To_Transfer         1594.15
Receive             1562.59
Name: 5, dtype: object
6
Date             2022-06-27
Currency                CHF
Exchange_rate       1341.20
Day_to_day            10.73
Rise_and_fall          0.79
Buy                 1367.88
Sell                1314.52
To_Transfer         1354.61
Receive             1327.79
Name: 6, dtype: object
7
Date             2022-06-27
Currency                CAD
Exchange_rate        996.74
Day_to_day             2.64
Rise_and_fall          0.26
Buy                 1016.57
Sell                 976.91
To_Transfer         1006.70
Receive              986.78
Name: 7, dtype: object
8
Date             2022-06-27
Currency                AUD
Exchange_rate        890.76
Day_to_day             4.77
Rise_and_fall          0.53
Buy                  908.48
Sell                 873.04
To_Transfer          899.66
Receive              881.86
Name: 8, dtype: object
9
Date             2022-06-27
Currency                NZD
Exchange_rate        811.35
Day_to_day             3.72
Rise_and_fall          0.46
Buy                  827.49
Sell                 795.21
To_Transfer          819.46
Receive              803.24
Name: 9, dtype: object
10
Date             2022-06-27
Currency                SEK
Exchange_rate        127.73
Day_to_day             0.50
Rise_and_fall          0.39
Buy                  130.92
Sell                 124.54
To_Transfer          129.00
Receive              126.46
Name: 10, dtype: object
11
Date             2022-06-27
Currency                DKK
Exchange_rate        182.75
Day_to_day             0.50
Rise_and_fall          0.39
Buy                  187.31
Sell                 178.19
To_Transfer          184.57
Receive              180.93
Name: 11, dtype: object
12
Date             2022-06-27
Currency                NOK
Exchange_rate        130.99
Day_to_day             1.31
Rise_and_fall          1.01
Buy                  134.26
Sell                 127.72
To_Transfer          132.29
Receive              129.69
Name: 12, dtype: object
13
Date             2022-06-27
Currency                SAR
Exchange_rate        342.40
Day_to_day             1.77
Rise_and_fall          0.51
Buy                  359.52
Sell                 318.44
To_Transfer          345.82
Receive              338.98
Name: 13, dtype: object
14
Date             2022-06-27
Currency                KWD
Exchange_rate       4192.50
Day_to_day            22.58
Rise_and_fall          0.54
Buy                 4444.05
Sell                3857.10
To_Transfer         4234.42
Receive             4150.58
Name: 14, dtype: object
15
Date             2022-06-27
Currency                BHD
Exchange_rate       3408.49
Day_to_day            17.24
Rise_and_fall          0.50
Buy                 3612.99
Sell                3135.82
To_Transfer         3442.57
Receive             3374.41
Name: 15, dtype: object
16
Date             2022-06-27
Currency                AED
Exchange_rate        349.86
Day_to_day             1.75
Rise_and_fall          0.50
Buy                  367.35
Sell                 325.37
To_Transfer          353.35
Receive              346.37
Name: 16, dtype: object
17
Date             2022-06-27
Currency                THB
Exchange_rate         36.36
Day_to_day             0.01
Rise_and_fall          0.03
Buy                   38.52
Sell                  33.82
To_Transfer           36.72
Receive               36.00
Name: 17, dtype: object
18
Date             2022-06-27
Currency                SGD
Exchange_rate        927.66
Day_to_day             3.69
Rise_and_fall          0.40
Buy                  946.21
Sell                 909.11
To_Transfer          936.93
Receive              918.39
Name: 18, dtype: object
19
Date             2022-06-27
Currency                IDR
Exchange_rate          8.68
Day_to_day             0.02
Rise_and_fall          0.23
Buy                    9.37
Sell                   7.73
To_Transfer            8.76
Receive                8.60
Name: 19, dtype: object
20
Date             2022-06-27
Currency                INR
Exchange_rate         16.41
Day_to_day             0.08
Rise_and_fall          0.49
Buy                   17.88
Sell                  14.94
To_Transfer           16.57
Receive               16.25
Name: 20, dtype: object
21
Date             2022-06-27
Currency                MYR
Exchange_rate        291.65
Day_to_day             1.44
Rise_and_fall          0.49
Buy                  309.14
Sell                 268.32
To_Transfer          294.56
Receive              288.74
Name: 21, dtype: object
22
Date             2022-06-27
Currency                PKR
Exchange_rate          6.18
Day_to_day             0.06
Rise_and_fall          0.96
Buy                    6.67
Sell                   5.69
To_Transfer            6.18
Receive                6.18
Name: 22, dtype: object
23
Date             2022-06-27
Currency                BDT
Exchange_rate         13.82
Day_to_day             0.09
Rise_and_fall          0.65
Buy                   14.92
Sell                  12.72
To_Transfer           13.82
Receive               13.82
Name: 23, dtype: object
24
Date             2022-06-27
Currency                PHP
Exchange_rate         23.46
Day_to_day             0.08
Rise_and_fall          0.34
Buy                   25.80
Sell                  21.82
To_Transfer           23.69
Receive               23.23
Name: 24, dtype: object
25
Date             2022-06-27
Currency                EGP
Exchange_rate         68.42
Day_to_day             0.37
Rise_and_fall          0.54
Buy                   73.89
Sell                  63.64
To_Transfer           68.42
Receive               68.42
Name: 25, dtype: object
26
Date             2022-06-27
Currency                MXN
Exchange_rate         64.77
Day_to_day             0.17
Rise_and_fall          0.26
Buy                   69.95
Sell                  59.59
To_Transfer           64.77
Receive               64.77
Name: 26, dtype: object
27
Date             2022-06-27
Currency                BND
Exchange_rate        927.93
Day_to_day             2.14
Rise_and_fall          0.23
Buy                  965.04
Sell                 872.26
To_Transfer          927.93
Receive              927.93
Name: 27, dtype: object